.idea
.DS_Store
.vscode
config.js
node_modules/*
credentials/*
tmp/*
lib/*
logs/*
server/node_modules/*
pdffiller-node.sublime-project
pdffiller-node.sublime-workspace
dump.rdb
*.zip
*.log
ng-app.js
Makefile
.module-cache
webpanel/node_modules/*
webpanel/public/*
build/*
.jshintrc
*.*~
*.swp
_*
*.swo
